<app-header></app-header>
<app-nav></app-nav>
<div class="config-section">
    <div style="width: 45%; position: absolute;margin-left: 2%;margin-top: 2%">
    <app-profile></app-profile>
    </div >
    <div style="width: 40%; position: absolute;margin-left: 50%;margin-top: -4%">
      <div class="frame-2">
        <span class="text-pok">Pokémon</span>
        <span class="text-selecciona" >Selecciona 3 Pokémon para que sean parte de tu equipo</span>
      </div>
    <app-item-serlector></app-item-serlector>
    </div>
</div>

<div style="height: 100px"></div>

