<div class="profile">
  <div class="rectangle-1" >

    <p class="text-2">Imágen perfil</p>
    <div class="profile-img">
        <img src="{{profileImage}}" class="img-4" style="{{imgStyle}}"/>
    </div>

    <div class="input-attached_10-419" style="{{displayConf}}">
      <div class="input-plate_I10-419-1788-8935">
        <span class="text-1">{{actionMsg}}</span>
        <div class="upload-msg">{{message}}</div>
        <div class="action-icon" >
          <img src="{{uploadIcon}}" onClick="uploader.click()"/>
          <img src="{{deleteIcon}}" onClick="cleanImg.click()"/>
        </div>
      </div>
    </div>

    <input type="file" id="uploader" (change)="onFileChoose($event)" hidden="hidden" >
    <input type="button" id="cleanImg" (click)="deleteImg()" hidden="hidden" >

  </div>
</div>
